h1 {color: black;}
h2 {color: rgb(37, 37, 116);}
h1 {text-align: center;}
body {background-color: cyan;}
h2 {text-align: right;}
h1 {width: 100%;}
h2 {width: 60%;}
#ima1 {width: 50%;}
#ima2 {width: 48%;}

